@import "@styles/vars.scss";
@import "@styles/mixins.scss";

/***** ========== *****/
/***** Header  *****/
/***** ========== *****/

$borderWidth: 4px;

.Header{
	//background-color: rgba($themeColorMain, 1);
	color: $themeColorMain;
	border-bottom: solid $borderWidth $themeColorLight;
	//box-shadow: 0 0 7px $themeColorLight, 0 0 3px $themeWhite, inset 0 0 7px $themeColorLight, inset 0 0 3px $themeWhite;
	position: relative;
	width: 100%;
	padding: 15px 35px;

	.logo{
		padding: 5px;
		font-family: $font_display;
		line-height: 0.85;
		font-size: 50px;
	}
}