@import "@styles/vars.scss";
@import "@styles/mixins.scss";

/***** ========== *****/
/***** Dashboard *****/
/***** ========== *****/

.Component{
	display: flex;
	flex-wrap: wrap;
	border-top: solid 2px $green;
	border-left: solid 2px $green;
}

.Cell{
	position: relative;
	border-bottom: solid 2px $green;
	border-right: solid 2px $green;
	padding: 35px;
	/*display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;*/
}

.CellInner{
	
	position: relative;
}

.heading{
	background-color: $green;
	color: $white;
	//font-family: $font_display;
	font-size: 20px;
	line-height:1;
	text-align: center;
	padding: 10px 10px;
	text-transform: uppercase;
}

.content{
	padding: 15px;
}



