@import "@styles/vars.scss";
@import "@styles/mixins.scss";

/***** ========== *****/
/***** Dashboard *****/
/***** ========== *****/

.Component{
	display: flex;
	flex-wrap: wrap;
	border-top: solid 2px $themeColorLight;
	border-left: solid 2px $themeColorLight;
	box-shadow: 0 0 7px $themeColorLight, 0 0 3px $themeWhite, inset 0 0 7px $themeColorLight, inset 0 0 3px $themeWhite;
}

.Cell{
	position: relative;
	border-bottom: solid 2px $themeColorLight;
	border-right: solid 2px $themeColorLight;
	box-shadow: 0 0 7px $themeColorLight, 0 0 3px $themeWhite, inset 0 0 7px $themeColorLight, inset 0 0 3px $themeWhite;
	padding: 35px;
	/*display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;*/
}

.CellInner{
	
	position: relative;
}

.heading{
	background-color: $themeColorMain;
	color: $themeWhite;
	//font-family: $font_display;
	font-size: 20px;
	line-height:1;
	text-align: center;
	padding: 10px 10px;
	text-transform: uppercase;
}

.content{
	padding: 15px;
}



