@import "@styles/vars.scss";
@import "@styles/mixins.scss";

/***** ========== *****/
/***** Bookmarks  *****/
/***** ========== *****/

.LocalApps{
	.list{
		list-style: none;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;

	}
}