@import "@styles/vars.scss";
@import "@styles/mixins.scss";

/***** ======== *****/
/***** Caution  *****/
/***** ======== *****/

.Caution{
	background-color: transparent;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 15px, $green 15px, $green 30px);
	padding: 15px;
	text-align: center;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	.inner{
		background-color: $white;
		color: $black;
		padding: 15px;
	}
}