@import "@styles/vars.scss";
@import "@styles/mixins.scss";

/***** ======== *****/
/***** Caution  *****/
/***** ======== *****/

// Colors
$bg-color: $black;
$dot-color: $green;

// Dimensions
$dot-size: 2px;
$dot-space: 15px;

.DotBG{
background: linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center, linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center, $dot-color;
	background-size: $dot-space $dot-space;	padding: 15px;
	text-align: center;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	.inner{
		background-color: $white;
		color: $black;
		padding: 15px;
	}
}



body {
	
}