@import "@styles/vars.scss";
@import "@styles/mixins.scss";

/***** ========== *****/
/***** GridCell  *****/
/***** ========== *****/

.grid{
	display: flex;
	justify-content:center;
	flex-wrap: wrap;
}