@import "@styles/vars.scss";
@import "@styles/mixins.scss";

/***** ======== *****/
/***** Caution  *****/
/***** ======== *****/

.centerWrapper{
	width: 100%;
	display: flex;
	justify-content: center;
}

.FilterImage{
	position: relative;
	display: inline-block;
	opacity: 0.75;

	.colorFilter{
		position: absolute;
		z-index: 2;
		height: 100%;
		width: 100%;
		background-color: rgba($themeColorMain, 0.35);
		filter: blur(10px);
		pointer-events: none;
		//box-shadow: 0 0 1ex #3f3, 0 0 2px rgba(255,255,255,0.8);
	}
	img{
		filter: grayscale(1) blur(2px);
		z-index: 1;
	}
}
