@import "@styles/vars.scss";
@import "@styles/mixins.scss";

/***** ========== *****/
/***** GridCell  *****/
/***** ========== *****/

.outer{
	width: 33.333%;
	height: 33.333vh;
	padding: 35px;
	position: relative;
}

.inner{
	border: solid 5px $themeColorMain;
	position: relative;
}

.heading{
	background-color: $themeColorMain;
	color: $themeWhite;
	//font-family: $font_display;
	font-size: 20px;
	line-height:1;
	text-align: center;
	padding: 10px 10px;
	text-transform: uppercase;
}

.content{
	padding: 15px;
}



