/******************************

FONTS

	- Font Weights Syntax: https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight#common_weight_name_mapping
	- Font-based Computed Values: https://developer.mozilla.org/en-US/docs/Web/CSS/length#font-relative_lengths

******************************/

/***** ================= *****/
/***** SYSTEM FONT STACK  *****/
/***** ================= *****/

	@font-face {
		font-family: system;
		font-style: normal;
		font-weight: 300;
		src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
	}

	html {
		font-family: "system";
		letter-spacing: 0.035em;
	}

/***** Computerfont *****/
/* https://www.dafont.com/computerfont.font */
	@font-face {
		font-family: "Computerfont";
		src: url("/fonts/Computerfont.ttf") format("ttf");
		font-weight: 100;
		font-display: fallback;
	}
	.computerfont{
		font-family: "Computerfont";
		line-height:1;
	}


/***** IBM Plex Mono *****/

	@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;500;600;700&display=swap');

//Local Font - having issues with the src urls

	/*//regular - 400
	@font-face {
		font-family: "IBM Plex Mono";
		src: url("/fonts/IBMPlexMono-Regular.ttf") format("ttf");
		font-weight: 400;
		font-display: fallback;
	}
	.ibm-plex-mono{
		font-family: "IBM Plex Mono";
		line-height:1;
	}

	//light - 300
		@font-face {
			font-family: "IBM Plex Mono";
			src: url("/fonts/IBMPlexMono-Light.ttf") format("ttf");
			font-weight: 300;
			font-display: fallback;
		}

		//thin - 100
		@font-face {
			font-family: "IBM Plex Mono";
			src: url("/fonts/IBMPlexMono-Light.ttf") format("ttf");
			font-weight: 100;
			font-display: fallback;
		}

		//medium - 500
		@font-face {
			font-family: "IBM Plex Mono";
			src: url("/fonts/IBMPlexMono-Medium.ttf") format("ttf");
			font-weight: 500;
			font-display: fallback;
		}

		//semi-bold - 600
		@font-face {
			font-family: "IBM Plex Mono";
			src: url("/fonts/IBMPlexMono-SemiBold.ttf") format("ttf");
			font-weight: 600;
			font-display: fallback;
		}

		//medium - 500
		@font-face {
			font-family: "IBM Plex Mono";
			src: url("/fonts/IBMPlexMono-Bold.ttf") format("ttf");
			font-weight: 700;
			font-display: fallback;
		}*/

	

/***** Windows Command Promt *****/
 	@font-face {
 		font-family: "cmd";
 		src: url("/fonts/windows_command_prompt.ttf") format("ttf");
 	}