/******************************

FONTS

	- Font Weights Syntax: https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight#common_weight_name_mapping
	- Font-based Computed Values: https://developer.mozilla.org/en-US/docs/Web/CSS/length#font-relative_lengths

******************************/

/***** ================= *****/
/***** SYSTEM FONT STACK  *****/
/***** ================= *****/

	@font-face {
		font-family: system;
		font-style: normal;
		font-weight: 300;
		src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
	}

	html {
		font-family: "system";
		letter-spacing: 0.035em;
	}

/***** Computerfont *****/
/* https://www.dafont.com/computerfont.font */
	@font-face {
		font-family: "Computerfont";
		src: url("/fonts/Computerfont.ttf") format("ttf");
		font-weight: 100;
		font-display: fallback;
	}
	.computerfont{
		font-family: "Computerfont";
		line-height:1;
	}



	@font-face {
	    font-family: 'perfect_dos_vga_437regular';
	    src: url('/fonts/perfect_dos_vga_437-webfont.woff2') format('woff2'),
	         url('/fonts/perfect_dos_vga_437-webfont.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;

	}




	@font-face {
	    font-family: 'commodore_64_pixelizedregular';
	    src: url('/fonts/commodore_pixelized_v1.2-webfont.woff2') format('woff2'),
	         url('/fonts/commodore_pixelized_v1.2-webfont.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;

	}
 	