/******************************

IMPORTS

******************************/
@import "@styles/vars.scss";
@import "@styles/mixins.scss";
@import "@styles/fonts.scss";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/******************************

RESET

******************************/

/***** General Text *****/
	span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, font, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-weight: inherit;
		font-style: inherit;
		font-family: inherit;
		vertical-align: baseline;
	}


/******************************

GENERAL

******************************/


	/***** Box-Size Reset - global border-box *****/
		html {
			box-sizing: border-box;
		}
		*, *:before, *:after {
			box-sizing: inherit;
		}

	/***** HTML/Body *****/
		html{
			font-size: 10px;
			min-height: 100%;
		}

		body{
			/*overflow-x: hidden;
			max-width: 100%;
			color: $primary_color;
			font-family: $font_body, "system", monospace;
			font-weight: 400;
			font-size: 1.8rem;
			line-height: 1.2;
			letter-spacing: 0.005em;
			min-height: 100vh;
			background-color: $background_color;
			height: 100%;
			margin: 0;
			padding: 0;*/

			//background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
			/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
		}


	/***** <img> global *****/
		img{
			max-width: 100%;
			height: auto;
			display: block;
		}


	/***** Lists Global *****/
		ul.listFix{	
			padding-left: 1.5ch;
			
			>li{
				margin-bottom: 1ex;
			}
		}

		


	/***** NoList *****/
		ul.nolist{
			list-style: none;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-direction: row;


			>li{
				padding:  0 10px;
			}
		}


	/***** Links *****/
		a {	
			display: inline-block;
			color: #fff;
			text-decoration: none;
			padding: 8px 5px;
			transition: .01s;
			will-change: color, background-color;
		}
		a:hover,
		a:focus {
			color: #11581e;
			background-color: #fff;
			text-shadow: none;
			//box-shadow: 0 0 1ex $themeColorMain, 0 0 2ex $themeColorMain;
		}
		a::before {
			content: "[";
			margin-right: 0.5ch;
		}
		a::after {
			content: "]";
			margin-left: 0.5ch;
		}

		
	

	/***** Container *****/
		.container{
			width: 100%;
			max-width: 1250px;
			margin: 0 auto;
		}

	/***** Flex *****/
		.flexRow{
			display: flex;
			flex-direction: row;
		}
		.flexColumn{
			display: flex;
			flex-direction: column;
		}



/***** General/Global *****/
:root {
	font-size: 10px;
}

html {
	min-height: 100%;
	font-size: 1.4rem;
	line-height: 1.2;
	letter-spacing: 0.05em;
}

@font-face {
	font-family: "8-bit-hud";
	src: url("/fonts/8-bit-hud.ttf") format("ttf");
	font-weight: 100;
	font-display: fallback;
}

body {
	box-sizing: border-box;
	height: 100%;
	background-color: #000;
	background-image: radial-gradient($amberDark, $blackAmber), url("/img/terminal-static-animated.gif");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: fixed;
	font-family: $font_body;
	color: $text_color;
	font-size: 1.8rem;
	line-height: 1.2;
	//letter-spacing: 0.005em;
	margin: 0;
	padding: 0;
	text-shadow: 0 0 1ex $themeColorLight, 0 0 2ex $theme_color;
}


.rw-forecast-days-panel *{
		//font-size: 16px !important;
	}