/**************************************************
VARS File

Description:	Store SCSS vars here


**************************************************/


/***** Color Variables *****/
	$black: 		#11581e;
	$white: 		#fafafa;
	$green:		rgba(128,255,128,0.8);

	/***** Named Colors *****/
		//only use other vars
		$primary_color:			$black;
		$secondary_color:		$white;

		$background_color:	$white;
		$text_color:				$green;
		$accent_color:			$white;


/***** Fonts *****/
	$font_body:		"commodore_64_pixelizedregular";
	$font_display:	"Computerfont";
	$font_alt:			"Windows Command Prompt";

/***** Font Sizes *****/
	$font_size_heading:	32px;
	$font_size_subhead:	28px;
	$font_size_body:		20px;
	$font_size_detail:		12px;

/***** Letter Spacing *****/
	$letterSpacingWide:		0.05em;
	$letterSpacingNormal:	0.035em;

/***** Content Widths *****/
	$content_width_s: 	650px;
	$content_width_m: 	920px;
	$content_width_l: 	1450px;


/***** Transition Timings *****/
	$transition_fast:		0.175s ease-in-out;
	$transition_medium:	0.25s ease-in-out;
	$transition_slow:		0.5s ease-in-out;


/***** Z-Index Ranges *****/
	$z_index_base: 		0;
	$z_index_medium: 	100;
	$z_index_high: 		1000;

/***** Shadows *****/

	/* source: https://brumm.af/shadows */
	$nice_shadow:
		0 2.8px 2.2px rgba($white, 0.02),
		0 6.7px 5.3px rgba($white, 0.028),
		0 12.5px 10px rgba($white, 0.035),
		0 22.3px 17.9px rgba($white, 0.042),
		0 41.8px 33.4px rgba($white, 0.05),
		0 100px 80px rgba($white, 0.07);

	$nice_shadow_short:
		0 1.1px 2.2px rgba($white, 0.02),
		0 2.7px 5.3px rgba($white, 0.028),
		0 5px 10px rgba($white, 0.035),
		0 8.9px 17.9px rgba($white, 0.042),
		0 16.7px 33.4px rgba($white, 0.05);


	$text-shadow-white:
		1px 1px $white, 
		2px 2px $white, 
		3px 3px $white, 
		4px 4px $white, 
		5px 5px $white;
	  
	$text-glow-white:
		0 0 1vw $white, 
		0 0 3vw $white, 
		0 0 10vw $white, 
		0 0 10vw $white, 
		0 0 .4vw $white, 
		.25vw .25vw .1vw #806914;
